.formNewEmployee {
  box-shadow: 5px 5px 15px black;
  border-radius: 10px;
  margin: 30px 2px 5px;
  background-color: #cbd1d7;
  padding: 15px 15px;

  .isInvalid {
    border-color: red;
  }

  .invalidFeedback {
    color: red;
  }

  .textSuccess {
    color: green;
    font-size: 33px;
    margin-top: 0.75rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
  }

}
