.formNewEmployee {
  box-shadow: 5px 5px 15px black;
  border-radius: 10px;
  margin: 30px 2px 5px;
  background-color: #cbd1d7;
  padding: 15px 15px;
}

.formNewEmployee .is-invalid {
    border-color: red;
}

.formNewEmployee .invalid-feedback {
    color: red;
}
