.sortingOptions {
  display: inline-block;

  .button {
    box-shadow: 5px 5px 15px black;
    margin: 0 10px 0;
    border-radius: 5px !important;
    color: rgba(34, 18, 19, 0.61);
    background-color: #697C9A;
  }

  .active {
    box-shadow: 5px 5px 15px darkgreen;
    background-color: green !important;
  }

  .container {
    box-shadow: 5px 5px 15px black;
    margin-left: 25px;
    border: 1px solid #7c7273;
    padding: 7px;
    display: inline-block;
    max-width: 100%;
    border-radius: 15px;
  }

  .textContent {
    color: rgba(34, 18, 19, 0.78);
    font-size: 16px;
    font-weight: bold;
  }
}